@charset "utf-8";

html {
    font-size: 100%;
}

body {
    color: #333333;

    font-size: 25px;

}

.midashi {
    padding: 10px 70px;
    font-family: 'Courier New', Courier, monospace;

}



/* ボタンの幅、配置場所等 */
.btn {
    padding: 0 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

/* ボタンの中身 */
.btn1 {
    background-color: green;
    color: aliceblue;
    width: auto;
    height: auto;
    font-size: 2.0rem;
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
   

}


/* ボタン　ホバーしたときのアニメーション */
.btn1:hover {
    opacity: 0.3;
    cursor: pointer;

}



.wrap {
    display: flex;
    padding: 20px;
    margin: 20px;

}

/* フォームのスタイル */
.form-wrap {
    width: auto;
    margin: auto;
    


}

.form_title {
    width: 190px;
    margin: 0 40px 0 0;
    font-weight: bold;
    text-align: right;
    
    


}

.form-item {
    width: 450px;
    margin: 0 0 35px;


}

.form_inner {
    display: flex;
    flex-wrap: wrap;
}

.width {
    margin: 0 auto;
    padding: 20px 700px;
    background-color: antiquewhite;
    width: auto;

}

.form-parts {
    box-sizing: border-box;
    width: 100%;
    font-size: 100%;
    border: solid 1px black;
    padding: 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* .input[type*="radio"] {
    margin: 0 10px 0 0;
    border: solid 1px #a0a0a0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: -2px;


}

.input[type*="radio"]:checked {
    background-color: #a0a0a0;
} */

/* ラジオボタンサイズm */
.pochi {
    margin: 0 40px 0 0;
    font-size: 40px;

}

#win{
    cursor: pointer;
}
#lose{
    cursor: pointer;
}